*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("yugioh.jfif");
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
   
}
.cards{
    width: 100%;
    height: 100vh;
    margin: 200px 65%;
    
   
   
}

.card1{
    background-color: rgb(211, 156, 18);
    width: 15%;
    height: 48%;
    border:inset 4px rgba(0, 0, 0, 0.37);
    z-index: 2;
    
}
.title{
    width: 93%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267) ;
    margin: 3px auto;
    background-color: rgb(226, 164, 7);
}
#simbol{
    float: right;
    width: 21px;
    position: relative;
  
}
.pic{
   
    margin: 3px 25px;
    width: 80%;
    z-index: 2;
}
.pic img{
    width: 95%;
    height: auto;
    z-index: 2;
}
.stars img{
    margin-left: 45px;
    width: 70%;
    height: auto;
    z-index: 2;
}
#description h2 {
    font-variant: small-caps;
    margin: 0;
    font-size: 20px;
    font-style: normal;  
  }
#description {
    font-size: 13px;
    margin: 7px;
    background: #DDCCB3;
    padding: 2px;
    border: 4px solid #B34930;
  }